// ======================================================================== //
/* TEETH NUMBERS - GREY */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Teeth_grey_selected {
  #G_18 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_17 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_16 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_15 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_14 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_13 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_12 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_11 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_21 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_22 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_23 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_24 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_25 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_26 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_27 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_28 {
    visibility: hidden;
    .cls-36 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  /* LOWER TEETH */
  /* LEFT TO RIGHT */
  #G_48 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_47 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_46 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_45 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_44 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_43 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_42 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_41 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_31 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_32 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_33 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_34 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_35 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_36 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_37 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }

  #G_38 {
    visibility: hidden;
    .cls-40 {
      fill: white !important;
      &:checked {
        stroke: #eeeeee !important;
      }
    }
  }
}

// ======================================================================== //
/* TEETH NUMBERS */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Teeth_numbers {
  #N_18 {
    .cls-35 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_17 {
    .cls-35 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_16 {
    .cls-35 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_15 {
    .cls-33 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_14 {
    .cls-33 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_13 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_12 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_11 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_21 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_22 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_23 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_24 {
    .cls-33 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_25 {
    .cls-33 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_26 {
    .cls-35 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_27 {
    .cls-35 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  #N_28 {
    .cls-35 {
      fill: white !important;
    }
    .cls-45 {
      fill: black !important;
    }
  }

  /* LOWER TEETH */
  /* LEFT TO RIGHT */
  #N_48 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_47 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_46 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_45 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_44 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_43 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_42 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_41 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_31 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_32 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_33 {
    .cls-40 {
      fill: white !important;
    }
  }

  #N_34 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_35 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_36 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_37 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }

  #N_38 {
    .cls-40 {
      fill: white !important;
    }

    .cls-45 {
      fill: black !important;
    }
  }
}

// ======================================================================== //
/* TEETH NUMBERS - HOVER */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Teeth_pink_hover {
  #H_18 {
    .cls-37 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_17 {
    .cls-37 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_16 {
    .cls-37 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_15 {
    .cls-34 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_14 {
    .cls-34 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_13 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_12 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_11 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_21 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_22 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_23 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_24 {
    .cls-34 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_25 {
    .cls-34 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_26 {
    .cls-37 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_27 {
    .cls-37 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_28 {
    .cls-37 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  /* LOWER TEETH */
  /* LEFT TO RIGHT */
  #H_48 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_47 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_46 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_45 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_44 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_43 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_42 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_41 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_31 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_32 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_33 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_34 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_35 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_36 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_37 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }

  #H_38 {
    .cls-41 {
      fill: white !important;
      &:hover {
        fill: #ff9f9f !important;
      }
    }
  }
}

// ======================================================================== //
/* TEETH NUMBERS - BRIDGE */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Teeth_blue_brygga_selected {
  visibility: hidden;

  #B_18 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_17 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_16 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_15 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_14 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_13 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_12 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_11 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_21 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_22 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_23 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_24 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_25 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_26 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_27 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_28 {
    visibility: hidden;
    .cls-32 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  /* LOWER TEETH */
  /* LEFT TO RIGHT */
  #B_48 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_47 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_46 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_45 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_44 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_43 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_42 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_41 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_31 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_32 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_33 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_34 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_35 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_36 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_37 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }

  #B_38 {
    visibility: hidden;
    .cls-43 {
      fill: #ccdbea !important;
      &:checked {
        fill: #ccdbea !important;
      }
    }
  }
}

// ======================================================================== //
/* SELECTED TEETH */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Selected_teeth {
  #S_17_18 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_16_17 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_15_16 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_14_15 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_13_14 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_12_13 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_11_12 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_11_21 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_22_21 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_23_22 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_23_24 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_24_25 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_26_25 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_27_26 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_28_27 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  /* ---- */

  /* LOWER TEETH */
  /* LEFT TO RIGHT */

  #S_47_48 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_46_47 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_45_46 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_44_45 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_43_44 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_42_43 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_41_42 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_41_31 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_32_31 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_33_32 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_34_33 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_35_34 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_36_35 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_37_36 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_38_37 {
    pointer-events: none;
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }
}

// ======================================================================== //
/* DOTS */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Dots {
  #Dot_1 {
    visibility: hidden;
  }
  #Dot_2 {
    visibility: hidden;
  }
  #Dot_3 {
    visibility: hidden;
  }
  #Dot_4 {
    visibility: hidden;
  }
  #Dot_5 {
    visibility: hidden;
  }
  #Dot_6 {
    visibility: hidden;
  }
  #Dot_7 {
    visibility: hidden;
  }
  #Dot_8 {
    visibility: hidden;
  }
  #Dot_9 {
    visibility: hidden;
  }
  #Dot_10 {
    visibility: hidden;
  }
  #Dot_11 {
    visibility: hidden;
  }
  #Dot_12 {
    visibility: hidden;
  }
  #Dot_13 {
    visibility: hidden;
  }
  #Dot_14 {
    visibility: hidden;
  }
  #Dot_15 {
    visibility: hidden;
  }
  #Dot_16 {
    visibility: hidden;
  }
  #Dot_17 {
    visibility: hidden;
  }
  #Dot_18 {
    visibility: hidden;
  }
  #Dot_19 {
    visibility: hidden;
  }
  #Dot_20 {
    visibility: hidden;
  }
  #Dot_21 {
    visibility: hidden;
  }
  #Dot_22 {
    visibility: hidden;
  }
  #Dot_23 {
    visibility: hidden;
  }
  #Dot_24 {
    visibility: hidden;
  }
  #Dot_25 {
    visibility: hidden;
  }
  #Dot_26 {
    visibility: hidden;
  }
  #Dot_27 {
    visibility: hidden;
  }
  #Dot_28 {
    visibility: hidden;
  }
  #Dot_29 {
    visibility: hidden;
  }
  #Dot_30 {
    visibility: hidden;
  }
}
