.top-box {
  display: flex;
  height: 3rem;
  padding-top: 32px;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 16px;
    font-weight: normal;
    color: ($grey900);
  }

  .global-button {
    height: 25px;
    padding: 0 10px;
    border-radius: 20px;
    color: ($primaryMain);
    background-color: ($paper);
    border: 2px solid ($primary800);
  }
}

/* ------------------------------------------------------------- */
.expanding {
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  height: 40px;

  .line {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    gap: 10px;
    text-align: center;
    border-top: 1px solid ($grey700);
    animation: line 1s linear forwards;
  }

  .line::before,
  .line::after {
    content: '';
    width: 2px;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    background: ($grey500);
  }
  .line::after {
    right: 0;
  } /* snap to right */
  .line::before {
    left: 0;
  } /* snap to left */

  .line:hover {
    border-top: 1px solid ($grey900);
  }

  @keyframes line {
    from {
      left: 50%;
      width: 0%;
    }
    to {
      left: 10%;
      width: 80%;
    }
  }

  /* -------------------------------------- */

  .middle-dot {
    margin-top: -15px;
    width: 25px;
    height: 25px;

    border: 2px solid white;
    box-shadow: 1px 1px 9px 2px #0000009c;

    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 50%;

    animation: coloranimation 2000ms ease-out running;
    cursor: 'pointer';

    img {
      width: 13px;
      height: 13px;
      text-align: center;
    }
  }

  .middle-dot > svg {
    color: white;
    font-weight: 1000;
    font-size: 25px;
  }

  @keyframes coloranimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* ------------------------------------------------------------- */
.middle-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 35px;
  padding-left: 8px;

  h5 {
    font-size: 20px;
    font-weight: normal;
  }
}

.middle-svg {
  display: flex;
  width: 95%;
  height: 95%;
  margin-top: 20px;
  margin-left: 7px;
  align-items: center;
}

.middle-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
  padding-right: 8px;

  h5 {
    font-size: 20px;
    font-weight: normal;
  }
}

/* ------------------------------------------------------------- */
.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 37px;
  margin-top: -37px;
  z-index: 10;

  .upper-button {
    height: 25px;
    padding: 0 10px;
    margin-top: -550px;
    border-radius: 20px;
    color: ($primaryMain);
    background-color: ($paper);
    border: 2px solid ($primary800);
    z-index: 10;

    &:hover {
      background-color: transparent;
    }
  }

  .lower-button {
    height: 25px;
    padding: 0 10px;
    margin-top: -180px;
    border-radius: 20px;
    color: ($primaryMain);
    background-color: ($paper);
    border: 2px solid ($primary800);
    z-index: 10;

    &:hover {
      background-color: transparent;
    }
  }
}

/* ------------------------------------------------------------- */

.selected-tooth {
  width: 100%;
  height: 100%;
  margin-top: -220px;
  z-index: 10;
}

.bottom-box {
  margin-top: 30px;
  height: 3rem;

  h2 {
    font-size: 16px;
    font-weight: normal;
    color: ($grey900);
  }
}

/* ------------------------------------------------------------- */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}

/* ------------------------------------------------------------- */

@media only screen and (max-width: 960px) {
  .middle-svg {
    width: 95%;
    height: 95%;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .selected-tooth {
    margin-top: -185px;
  }
}
